
@{
    ViewData["Title"] = "首頁";
}

<div class="wrapper">
    <div class="abs-center">
        <div class="text-center my-3">
            <div class="h1 mb-3">
                <sup><em class="fa fa-cog fa-2x text-muted fa-spin text-info"></em></sup>
                <em class="fa fa-cog fa-5x text-muted fa-spin text-purple"></em>
                <em class="fa fa-cog fa-lg text-muted fa-spin text-success"></em>
            </div>
            <div class="text-bold text-lg mb-3">網站維修中</div>
            <p class="lead m-0">我們盡快處理!</p>
        </div>
    </div>
</div>