<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
  
  <variable name="generic" value="${longdate}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}"/>

  <targets async="true">
    <target xsi:type="File" name="logFile" fileName="${basedir}/../../../Logs/${shortdate}.log" layout="${generic}" />
    <target xsi:type="Console" name="logConsole" layout="${generic}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logFile,logConsole" />
  </rules>
</nlog>