@model Web.Models.Login.RegisterViewModel
@{
    ViewData["Title"] = "忘記密碼";
}

<div class="card card-default">
    <div class="card-header">請輸入帳號與Email後，將寄出重置密碼的信到您的信箱</div>
    <div class="card-body">
        <form>
            <div class="form-row align-items-center">
                <div class="col-auto">
                    @Html.TextBoxFor(x => x.Account, new { @class = "form-control mb-2" , @placeholder = "帳號 *" })
                    <span asp-validation-for="Account" class="form-text text-danger"></span>

                </div>
                <div class="col-auto">
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control mb-2", @placeholder = "Email *" })
                    <span asp-validation-for="Email" class="form-text text-danger"></span>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary mb-2" type="submit">確認</button>
                </div>
            </div>
        </form>
    </div>
</div>