@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" title="Manage">歡迎 @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">登出</button>
            </form>
        </li>
        @*START Alert menu*@
        <li class="nav-item dropdown dropdown-list">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" data-toggle="dropdown">
                @User.Identity.Name
            </a>
            @*START Dropdown menu*@
            <div class="dropdown-menu dropdown-menu-right animated flipInX">
                <div class="dropdown-item">
                    @*START list group*@
                    <div class="list-group">
                        @*list item*@
                        <div class="list-group-item list-group-item-action">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Create">寫文章</a>
                        </div>
                        @*list item*@
                        <div class="list-group-item list-group-item-action">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Index">我的文章</a>
                        </div>
                        @*list item*@
                        <div class="list-group-item list-group-item-action">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-dark">登出</button>
                        </form>
                        </div>
                    </div>
                    @*END list group*@
                </div>
            </div>
            @*END Dropdown menu*@
        </li>
        @*END Alert menu*@
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">註冊</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">登入</a>
        </li>
    }
</ul>
